<!-- <div *ngIf="(singleUser$|async)?.Id != 0">
    <h1>{{(singleUser$|async)?.Id}}</h1>
    <h1>{{(singleUser$|async)?.Email}}</h1>
    <h1>{{(singleUser$|async)?.UserName}}</h1>
    <h1>{{(singleUser$|async)?.Role}}</h1>
    <h1>{{(singleUser$|async)?.CollegeName}}</h1>
    <h1>{{(singleUser$|async)?.UniversityName}}</h1>
    <h1>{{(singleUser$|async)?.Password}}</h1>
</div> -->

<div class="card bg-light border-dark m-5" style="width: 18rem;" *ngIf="(singleUser$|async)?.Id != 0">
    <div class="card-header">
        Student Details
      </div>
    <div class="card-body">
        <p class="card-title">{{(singleUser$|async)?.Id}}</p>
        <p class="card-title">{{(singleUser$|async)?.UserName}}</p>
        <p class="card-subtitle">{{(singleUser$|async)?.Email}}</p>
        <p class="card-subtitle">{{(singleUser$|async)?.Role}}</p>
        <p class="card-subtitle">{{(singleUser$|async)?.CollegeName}}</p>
        <p class="card-text">{{(singleUser$|async)?.UniversityName}}</p>
        <p class="card-text">{{(singleUser$|async)?.Password}}</p>
    </div>
</div>


<div *ngIf="user.Id==0">
    <div>
        <h5>No records found!</h5>
    </div>
</div>