

<div class="container">
    <div class="row" style="margin: 30px" *ngIf="(userList$ | async) != null">
        <div class="col-md-3 col-xs-6" *ngFor="let user of userList$ | async; let i=index">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ i }}</h5>
                    <h5 class="card-title">{{ user.UserName }}</h5>
                    <h6 class="card-subtitle">{{ user.Email }}</h6>
                    <h6 class="card-subtitle">{{ user.Password }}</h6>
                    <h6 class="card-subtitle">{{ user.Role }}</h6>
                    <p class="card-text">{{ user.CollegeName }}</p>
                    <p class="card-text">{{ user.UniversityName }}</p>
                    <a class="btn btn-primary m-1"  href="/user/{{user.Id}}">Details</a>
                    <a class="btn btn-primary " (click)="updateUser(user.Id)">update</a>
                </div>
            </div>
        </div>
    </div>
    <ng-template #elseBlock>
        <div>
            <h5>No records found!</h5>
        </div>
    </ng-template>
    <div class="my-3 mx-3">
        <button type="button" class="btn btn-primary" (click)="addNewUser()">Add New User</button>
        <ng-template #componentOutlet></ng-template>
    </div>

    <div *ngIf="showUserForm">
        <users-create-update buttonTittle="{{buttonTittle}}"></users-create-update>
    </div>
</div>

<!-- <app-add-user *ngIf=""></app-add-user> -->