<div class="container">
    <div class="row" style="margin: 30px" *ngIf="(userList$ | async) != null">
        <div class="col-md-3 col-xs-6" *ngFor="let user of userList$ | async; let i=index">
            <div class="card bg-light border-dark m-1">
                <div class="card-header">
                    Student Details
                </div>
                <div class="card-body">
                    <p class="card-title">{{ i }}</p>
                    <p class="card-title">{{ user.UserName }}</p>
                    <p class="card-subtitle">{{ user.Email }}</p>
                    <p class="card-subtitle">{{ user.Password }}</p>
                    <p class="card-subtitle">{{ user.Role }}</p>
                    <p class="card-text">{{ user.CollegeName }}</p>
                    <p class="card-text">{{ user.UniversityName }}</p>
                    <div class="m-3 text-center">
                        <a class="btn btn-primary" href="/user/{{user.Id}}">Details</a>
                        <a class="btn btn-primary m-2" (click)="updateUser(user.Id)">update</a>
                        <a class="btn btn-primary" (click)="deleteUser(user.Id)">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #elseBlock>
        <div>
            <h5>No records found!</h5>
        </div>
    </ng-template>
    <div class="m-3 text-center">
        <button type="button" class="btn btn-primary m-3" (click)="addNewUser()">Add New User</button>
        <ng-template #componentOutlet></ng-template>
    </div>

    <div *ngIf="showUserForm">
        <users-create-update buttonTittle="{{buttonTittle}}"></users-create-update>
    </div>
</div>

<!-- <app-add-user *ngIf=""></app-add-user> -->