<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(0, 0, 0, 0.05);">
    <a class="navbar-brand mx-4" href="/home">Student Management</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/users">Details</a>
            </li>
        </ul>
        <div class="container">
            <button class="btn btn-outline-success my-2 my-sm-0 text-right" (click)="openLogin()" type="login">Login</button>
        </div>
    </div>
</nav>